
.HStack {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /*justify-content: space-between;*/
}

.HStackMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    /*justify-content: space-between;*/
}


